.cor-solucoes {
    background-color: #F84646;
    padding-block: 60px;
}

#solucoes {
    width: 80%;
    margin: auto;
    
    h1 {
        font-family: 'Manrope';
        font-weight: 800;
        font-size: 48px;
        color: #FFFFFF;
        text-align: center;
    }

    p {
        margin-top: 10px;
        font-family: 'Manrope';
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;
        text-align: center;
    }
}

#solucoes div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-block:60px;

    font-family: 'Manrope';
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;

}
.seta-baixo {
    display: none;
}

@media (max-width: 900px) {
    #solucoes div {
        gap: 15px;
        justify-content: space-between;
    }
    #solucoes br {
        display: none;
    }
}

@media (max-width: 767px) {
    #solucoes p {
        padding-bottom: 30px;
    }

    #solucoes br {
        display: block;
    }

    #solucoes div {
        padding-block: 40px;
        flex-direction: column;
        text-align: center;
        margin: auto;
        gap: 40px;
    }
    .seta-direita {
        display: none;
    }

    .seta-baixo {
        display: block;
    }
}
